
body{
    margin: 0;
}

.ul_second{
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 8px;
    position: relative;
    z-index: 2;
}

.ul_second li{
    margin: 5px 20px;
}

.element2{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family:sans-serif;
}

.element2:hover{
    color: rgb(192, 192, 192);
}


.video-fondo {
    object-fit: cover;
    width: 100%;
    height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.02); 
    filter: blur(5px);
}

.intro{
    padding-top: 25px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: white;
}

.h1_intro{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.description_intro p{
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.0;
    margin-top: 0;
}

.h3{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: -10px;
}

.temporizador{
    background: rgba(0, 0, 0, 0.50);
    height: 582px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.temp_pre{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: white;
    margin-top: -40px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.temp_actual{
    display: none;
    color: white;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    padding-top: 50px;
}

.img{
    margin-left: 10px;
    padding-bottom: 0;
    margin-bottom: -70px;
}

.tiempo{
    display: flex;
    position: absolute;
    top: 202px;
    left: 882px;
}


.tiempo p{
    margin: 0px 4px;
    color: black;
    text-shadow: 1px 1px 1px solid rgb(131, 131, 131);
}


.temp_pre{
    margin-right: 20px;
}

.temp_pre div{
    padding-top: 120px;
    margin: 0px 30px;
    text-align: center;
}

.temp_pre div select{
    transform: scale(2.5);
    border-radius: 10px;
    border: 2px solid black;
}

.botones{
    display: flex;
    justify-content: center;
    margin: 60px 0px;
}

.iniciar{
    transition: transform 0.3s ease;
}

.reiniciar{
    display: none;
    padding-top: 5px;
    padding-left: 20px;
    transition: transform 0.3s ease;
}

.botones button{
    height: 30px;
    width: 110px;
    margin: 0px 8px;
    border-radius: 9px;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(20, 20, 20);
}

.iniciar:hover{
    background: rgb(180, 180, 180);
    transform: scale(1.1);
}

.reiniciar:hover{
    background: rgb(180, 180, 180);
    transform: scale(1.1);
}

.footer{
    height: 42px;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    display: flex;
    filter: brightness(0.9);
}

.footer img{
    height: 20px;
    width: 20px;
    margin-left: 30px;
}

.footer p{
    font-size: 16px;
    margin: 0px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 2px 2px black;
}

.footer a{
    margin-left: 79%;
    text-shadow: 1px 2px 3px black;
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}



.a_footer:hover{
    color: rgb(228, 228, 228);
}